<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define the appenders (console and rolling file) -->
    <Properties>

        <Property name="basePath">C:/Users/desus/IdeaProjects/HybridAutomation/Logs</Property>

    </Properties>
    <Appenders>

        <!-- Console Appender configuration -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- Rolling File Appender configuration -->
        <RollingFile name="File" fileName="${basePath}/automation.log"
                     filePattern="${basePath}/automation-%d{MM-dd-yyyy}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- Define loggers -->
    <Loggers>

        <!-- Root Logger configuration -->
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
        </Loggers>


</Configuration>